/build
src/.wraplock
__pycache__/

/outputs

*~

GPATH
GRTAGS
GSYMS
GTAGS

/.ccls-cache

compile_commands.json
*.compile_commands.json

secrets/

result
result-*

.vscode/
.idea/
.helix/

.pre-commit-config.yaml

.cache/

.DS_Store

flake-regressions

.direnv/
